@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Viking';
  src: url('/fonts/wilson-wells.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
